<mat-toolbar color="accent" class="example-footer">
  <mat-toolbar-row>
    <a href="https://github.com/hraverkar/HarshalBlogs" target="_blank">
      <img src="../../assets/image/11.png">
      <!-- <a style="font-size: 10px;">Angular</a> -->
    </a>
    <span class="example-spacer"></span>
    <a href="https://dev.to/hraverkar" target="_blank">
      <img src="../../assets/image/12.png">
      <!-- <a style="font-size: 10px;">Dev.io</a> -->
    </a>
    <span class="example-spacer"></span>
    <a href="https://facebook.com/hraverkar" target="_blank">
      <img src="../../assets/image/13.png">
      <!-- <a style="font-size: 10px;">Facebook</a> -->
    </a>
    <span class="example-spacer"></span>
    <a href="https://mail.google.com/mail/u/0/#inbox?compose=new" target="_blank">
      <img src="../../assets/image/14.png">
      <!-- <a style="font-size: 10px;">Gmail</a> -->
    </a>
    <span class="example-spacer"></span>
    <a href="https://www.hackerrank.com/hraverkar?hr_r=1" target="_blank">
      <img src="../../assets/image/16.png">
      <!-- <a style="font-size: 10px;">Hacker Rank</a> -->
    </a>
    <span class="example-spacer"></span>
    <a href="https://github.com/hraverkar" target="_blank">
      <img src="../../assets/image/15.png">
      <!-- <a style="font-size: 10px;">Google</a> -->
    </a>
    <span class="example-spacer"></span>
    <a href="https://linkedin.com/in/hraverkar" target="_blank">
      <img src="../../assets/image/18.png">
      <!-- <a style="font-size: 10px;">Linkedin</a> -->
    </a>
    <span class="example-spacer"></span>
    <a href="https://medium.com/@hraverkar" target="_blank">
      <img src="../../assets/image/19.png">
      <!-- <a style="font-size: 10px;">Medium</a> -->
    </a>
    <span class="example-spacer"></span>
    <a href="https://paypal.me/hraverkar" target="_blank">
      <img src="../../assets/image/20.png">
      <!-- <a style="font-size: 10px;">Paypal</a> -->
    </a>
    <span class="example-spacer"></span>
    <a href="https://slack.com/hraverkar" target="_blank">
      <img src="../../assets/image/21.png">
      <!-- <a style="font-size: 10px;">Slack</a> -->
    </a>
    <span class="example-spacer"></span>
    <a href="https://javascript.info/" target="_blank">
      <img src="../../assets/image/17.png">
      <!-- <a style="font-size: 10px;">JavaScript</a> -->
    </a>
    <span class="example-spacer"></span>
    <a href="https://stackoverflow.com/users/2635445/harshal" target="_blank">
      <img src="../../assets/image/22.png">
      <!-- <a style="font-size: 10px;">Stack Overflow</a> -->
    </a>
    <span class="example-spacer"></span>
    <a href="https://twitter.com/hraverkar" target="_blank">
      <img src="../../assets/image/23.png">
      <!-- <a style="font-size: 10px;">Twitter</a> -->
    </a>
    <span class="example-spacer"></span>
    <a href="https://api.whatsapp.com/send?phone=9743420543&text=%20HI" target="_blank">
      <img src="../../assets/image/24.png">
      <!-- <a style="font-size: 10px;">WhatsApp</a> -->
    </a>
    <span class="example-spacer"></span>
    <a href="https://github.com/hraverkar" target="_blank">
      <img src="../../assets/image/25.png">
      <!-- <a style="font-size: 10px;">Github</a> -->
    </a>
    <!-- <a href="https://github.com/hraverkar">
      <mat-icon class="example-icon md-48" aria-hidden="false" aria-label="Example user verified icon">face</mat-icon>
    </a> -->
    <span class="example-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>
