<mat-toolbar color="accent">
  <mat-toolbar-row>
    <a href="https://github.com/hraverkar" target="_blank">
      <img src="../../assets/image/11.png">
    </a>
    <span class="example-spacer"></span>
    <a href="https://github.com/hraverkar" target="_blank">
      <img src="../../assets/image/12.png">
    </a>
    <span class="example-spacer"></span>
    <a href="https://github.com/hraverkar" target="_blank">
      <img src="../../assets/image/13.png">
    </a>
    <span class="example-spacer"></span>
    <a href="https://github.com/hraverkar" target="_blank">
      <img src="../../assets/image/14.png">
    </a>
    <span class="example-spacer"></span>
    <a href="https://github.com/hraverkar" target="_blank">
      <img src="../../assets/image/15.png">
    </a>
    <span class="example-spacer"></span>
    <a href="https://github.com/hraverkar" target="_blank">
      <img src="../../assets/image/16.png">
    </a>
    <span class="example-spacer"></span>
    <a href="https://github.com/hraverkar" target="_blank">
      <img src="../../assets/image/17.png">
    </a>
    <span class="example-spacer"></span>
    <a href="https://github.com/hraverkar" target="_blank">
      <img src="../../assets/image/18.png">
    </a>
    <span class="example-spacer"></span>
    <a href="https://github.com/hraverkar" target="_blank">
      <img src="../../assets/image/19.png">
    </a>
    <span class="example-spacer"></span>
    <a href="https://github.com/hraverkar" target="_blank">
      <img src="../../assets/image/20.png">
    </a>
    <span class="example-spacer"></span>
    <a href="https://github.com/hraverkar" target="_blank">
      <img src="../../assets/image/21.png">
    </a>
    <span class="example-spacer"></span>
    <a href="https://github.com/hraverkar" target="_blank">
      <img src="../../assets/image/22.png">
    </a>
    <span class="example-spacer"></span>
    <a href="https://github.com/hraverkar" target="_blank">
      <img src="../../assets/image/23.png">
    </a>
    <span class="example-spacer"></span>
    <a href="https://github.com/hraverkar" target="_blank">
      <img src="../../assets/image/24.png">
    </a>
    <span class="example-spacer"></span>
    <a href="https://github.com/hraverkar" target="_blank">
      <img src="../../assets/image/25.png">
    </a>
    <span class="example-spacer"></span>
    <!-- <a href="https://github.com/hraverkar">
      <mat-icon class="example-icon md-48" aria-hidden="false" aria-label="Example user verified icon">face</mat-icon>
    </a> -->
    <span class="example-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>
