
  <mat-vertical-stepper linear #stepper>
    <mat-step [stepControl]="firstFormGroup" errorMessage="Name is required.">
      <form [formGroup]="firstFormGroup" #formone="ngForm">
        <ng-template matStepLabel>Fill out your name</ng-template>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup" errorMessage="Contact No. & Email is required.">
      <form [formGroup]="secondFormGroup" #formtwo="ngForm">
        <ng-template matStepLabel>Fill out your contact and email address</ng-template>
        <mat-form-field>
          <mat-label>Number</mat-label>
          <input matInput placeholder="Contact Number" formControlName="secondCtrl" required>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email Address" formControlName="second1Ctrl" required>
        </mat-form-field>

        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="thirdFormGroup" errorMessage="Address is required.">
      <form [formGroup]="thirdFormGroup" (ngSubmit)="form3()" #formthree="ngForm">
        <ng-template matStepLabel>Fill out your address</ng-template>
        <mat-form-field>
          <mat-label>Address</mat-label>
          <input matInput placeholder="Ex. 1 Main St, New York, NY" formControlName="thirdCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
        <!-- <button mat-button (click)="formone.ngSubmit.emit();formtwo.ngSubmit.emit();formthree.ngSubmit.emit()">
        Submit</button> -->
      </div>
    </mat-step>
  </mat-vertical-stepper>
