<div>
  <mat-card>
    <mat-card-title>Add Blog</mat-card-title>
    <form #f="ngForm"WW (ngSubmit)="addNewBlog(f)">

      <p>
        <mat-form-field appearance="outline">
          <mat-label>Article Category</mat-label>
          <input matInput placeholder="Article Category" ngModel name="articleCategory">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline">
          <mat-label>Article Title</mat-label>
          <input matInput placeholder="Article Title" ngModel name="title">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline">
          <mat-label>Article Author Name</mat-label>
          <input matInput placeholder="Article Author Name" ngModel name="author_name">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline">
          <mat-label>Publish Date</mat-label>
          <input matInput placeholder="Article Publish Date" ngModel name="date">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline">
          <mat-label>Article Description</mat-label>
          <textarea matInput placeholder="Article Description" ngModel name="description"></textarea>
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline">
          <mat-label>Article Tags</mat-label>
          <input matInput placeholder="Article Tags" ngModel name="tags">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </p>
      <p>
        <input type="file" ngModel name="image" #image required><br><br>
      </p>
      <div class="button">
        <button mat-raised-button color="primary" color="primary">Upload Blog</button>
      </div>
    </form>
  </mat-card>
</div>
