.example-card {
  max-width: 600px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.container{
  margin: 15px;
  border:2px solid rgb(63, 4, 131);
 }
